@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    background: url("img/tło.png") no-repeat;
    background-size: cover;
    font-family: 'Open Sans';
}

.Logo {
    width: 100%;
    height: fit-content;
}

.zdj {
    margin: auto;
    display: flex;
    width: 55%;
}

.main {
    width: 100%;
    height: fit-content;
    max-width: 1200px;
    margin: auto;
    background-color: rgb(68, 72, 76, 0.4);
    margin-top: 40px;
    padding-bottom: 50px;
}

.menu {
    padding: 10px;
    margin: auto;
    width: 100%;
    display: flex;
}

.Home {
    background-color: white;
    height: 100%;
    max-height: 100px;
    font-size: 40px;
    padding: 10.5px;
    margin: 2px;
    width: auto;
    border-radius: 10px;
    text-align: center;
    margin-left: auto;
    float: left;
}

.oferta {
    background-color: white;
    height: 100%;
    max-height: 100px;
    font-size: 40px;
    padding: 10.5px;
    margin: 2px;
    width: auto;
    border-radius: 10px;
    text-align: center;
    float: left;
}

.Onas {
    background-color: white;
    height: 100%;
    max-height: 200px;
    font-size: 40px;
    padding: 10.5px;
    margin: 2px;
    width: auto;
    border-radius: 10px;
    width: 100%;
    max-width: 110px;
    text-align: center;
    float: left;
    min-width: 120px;
}

.Konto {
    background-color: white;
    height: 100%;
    max-height: 200px;
    font-size: 40px;
    padding: 10.5px;
    margin: 2px;
    width: auto;
    border-radius: 10px;
    width: 100%;
    max-width: 110px;
    text-align: center;
    margin-right: auto;
    float: left;
}

.Konto1 {
    display: none;
    border: 0px solid transparent;
    position: relative;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    margin: 2px;
    text-align: center;

}

.Onas1 {
    display: none;
    border: 0px solid transparent;
    position: relative;
    background-color: white;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    margin: 2px;
    text-align: center;
}

div.Konto:hover .Konto1 {
    display: block;
    background-color: lightgray;
}

div.Onas:hover .Onas1 {
    display: block;
    background-color: lightgray;
}

a {
    text-decoration: none;
    color: black;
}

.stopka {
    background-color: white;
    width: 90%;
    height: 180px;
    margin: auto;
    border: 1px solid transparent;
    border-radius: 30px;
    margin-top: 50px;
    margin-bottom: 50px;


}

.napis {
    float: left;
    margin: 10px;
    padding: 5px;
    height: 100%;
    margin-left: 30px;
    font-size: 20px;
    width: 100%;
    height: fit-content;
}

.panelst {
    width: 31%;
    min-width: fit-content;
    padding: 5px;
    font-size: 18px;
    text-align: center;
    border-left: 1px solid black;
    border-right: 1px solid black;
    border-radius: 30px;
    float: left;
    margin: 6px;

}

.rekomendacje {
    background-color: white;
    width: 90%;
    margin: auto;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
    display: flex;
}

.rekomendacja {
    font-size: 20px;
    width: 23%;
    margin: auto;
    text-align: center;
    display: inline-block;
}

.ikona {
    font-size: 45px;
    padding-top: 10px;
}




.topoferta {
    background-color: white;
    width: 90%;
    margin: auto;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
}


.topnap {
    width: 100%;
    height: fit-content;
    font-size: 25px;
    margin: 10PX;
}
.topka{
    width: 100%;
    height: fit-content;
    padding: 15px;
    display: flex;
}

.topzdj{
    width: 100%;
    height: 100%;
    max-height: 400px;
    max-width: 400px;
    float: left;
    border-radius: 20px;

}
.topcontent{
    max-width: 300px;
    height: fit-content;
    margin: 20px;
}

.inspiracje {
    background-color: white;
    width: 90%;
    margin: auto;
    height: fit-content;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 30px;
}
.mainins {
    width: 100%;
    height: fit-content;
    font-size: 30px;
    margin: auto;
    text-align: center;
}

.inspiracja {
    width: 28%;
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 20px;
    border-radius: 20px;
    display: inline-block;
    margin: 6.4px;
}


.zdjins {
    float: left;
    width: 100%;
    border-radius: 20px;
}

.textins {}