@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body{
    background:url("img/tło.png") no-repeat;
    background-size: cover;
    font-family: 'Open Sans';
}

.main{
    width: 100%;
    height: fit-content;
    max-width: 1200px;
    margin: auto ;
    background-color: rgb(68, 72, 76, 0.4);
    margin-top: 40px;
    padding-bottom: 50px;
}


.menu{
    padding: 10px;
    margin: auto;
    width: 100%;
}  

.Logo{
    background-color: white;
    max-height: 60px;
    float: left;
    display: flex;
    font-size: 30px;
    padding: 8px;
    margin: 2px;
    border-radius: 10px;

}
img.logo{

    float: left ;
}

.Home{
    background-color: white;
    height: 100%;
    max-height: 100px;
    float: left;
    font-size: 40px;
    padding: 10.5px;
    margin: 2px;
    width: auto;
    border-radius: 10px;
    text-align: center;
}
.Blank{
    border: 0px solid transparent;
    height: 100%;
    max-height: 100px;
    float: left;
    font-size: 40px;
    padding: 10.5px;
    margin: 2px;
    width: 100%;
    max-width: 320px;
    
}

.oferta{
    background-color: white;
    height: 100%;
    max-height: 100px;
    float: left;
    font-size: 40px;
    padding: 10.5px;
    margin: 2px;
    width: auto;
    border-radius: 10px;
    text-align: center;
}
.Onas{
    background-color: white;
    height: 100%;
    max-height: 200px;
    float: left;
    font-size: 40px;
    padding: 10.5px;
    margin: 2px;
    width: auto;
    border-radius: 10px;
    width: 100%;
    max-width: 110px;
    text-align: center;
    width: max-content;
}

.Konto{
    background-color: white;
    height: 100%;
    max-height: 200px;
    float: left;
    font-size: 40px;
    padding: 10.5px;
    margin: 2px;
    width: auto;
    border-radius: 10px;
    width: 100%;
    max-width: 110px;
    text-align: center;

}

.Konto1{
    display: none;
    border: 0px solid transparent;
    position: relative;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    margin: 2px;
    text-align: center;
}

.Onas1{
    display: none;
    border: 0px solid transparent;
    position: relative;
    background-color: lightgray;
    border-radius: 10px;
    font-size: 15px;
    padding: 5px;
    margin: 2px;
    text-align: center;
}

div.Konto:hover .Konto1 {
    display: block;
    
}

div.Onas:hover .Onas1 {
    display: block;
}